# Laravel
/src/backend/vendor
/src/backend/bootstrap/cache/
/src/backend/storage/*
!/src/backend/storage/.gitkeep

# Vue.js
/src/frontend/node_modules
/src/frontend/dist

# 汎用
.env
.env.backup
.env.production
.idea
package-lock.json
yarn.lock
composer.lock
*.cache